.hiddenSuggestion {
	background-color: #fee481;
}

.hiddenGrammarError {
	opacity: 0.8;
}

.hiddenGrammarError > div {
	background: #fee481;
	position: absolute;
	margin-top: -0.15em;
	padding: 0.15em 0;
	border-radius: 0.15em;
	cursor: pointer;
}

.hiddenSpellError {
	opacity: 0.4;
}

.hiddenSpellError > div {
	background: #ff0000;
	position: absolute;
	margin-top: -0.15em;
	padding: 0.15em 0;
	border-radius: 0.15em;
	cursor: pointer;
}

/* Set opacity directly on the highlights, rather than their containers,
	otherwise the opacity isn't applied at all */
.ve-init-target-ie .hiddenSpellError > div {
	opacity: 0.4;
}

.ve-init-target-ie .hiddenGrammarError > div {
	opacity: 0.8;
}